@import "@/styles/colors.scss";

@mixin container-style {
  box-sizing: border-box;
  font-size: 22px;
  border-radius: 16px;
  background: $signup-back;
  border: none;
  resize: none;
  color: $dark-text2;
}

.stepTwo-block {
  width: 1200px;
  text-align: center;

  &__text {
    margin-top: 24px;
  }

  .stepTwo-content {
    display: flex;
    gap: 30px;
    margin-top: 152px;

    &__cards {
      display: flex;
      gap: 30px;

      .cards__upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 284px;
        height: 350px;
        border-radius: 20px;
        background: $signup-back;
        border: 2px solid $signup-border;
        overflow: hidden;

        .uploadButton {
          cursor: pointer;
          width: 90px;
          height: 90px;
        }
        .uploadedImage {
          cursor: pointer;
          height: 100%;
          width: auto;
        }

        .cards__input {
          display: none;
        }
      }
    }

    &__info {
      width: 568px;
      justify-content: space-between;

      .info-content {
        display: flex;
        flex-direction: column;

        &__nickname {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 32px;

          .nickname__input {
            @include container-style;
            width: 380px;
            height: 74px;
            padding-left: 28px;
            &:focus {
              outline: none;
            }
          }
          .nickname__button {
            @include container-style;
            cursor: pointer;
            width: 142px;
            height: 74px;
          }
        }

        .words__input {
          @include container-style;
          font-family: "pretendard";
          height: 156px;
          padding: 22px 28px;
          &:focus {
            outline: none;
          }
        }
      }
    }

    &__title {
      text-align: left;
      margin-bottom: 14px;
    }
  }
}
