@import "@/styles/colors.scss";

@mixin container-style {
  box-sizing: border-box;
  font-size: 22px;
  border-radius: 16px;
  background: $signup-back;
  border: none;
  resize: none;
  color: $dark-text2;
}

.steptwo {
  width: 1200px;
  text-align: center;

  &__btn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    padding: 154px 70px;
  }

  &__desc {
    margin-top: 25px;
  }

  &__content {
    display: flex;
    gap: 30px;
    margin-top: 152px;

    &__cards {
      display: flex;
      gap: 30px;

      .cards__upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 284px;
        height: 350px;
        border-radius: 20px;
        background: $signup-back;
        border: 2px solid $signup-border;
        overflow: hidden;

        .uploadButton {
          cursor: pointer;
          width: 90px;
          height: 90px;
        }
        .uploadedImage {
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .cards__input {
          display: none;
        }
      }
    }

    &__info {
      width: 568px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info__block {
        display: flex;
        flex-direction: column;

        .info__nickname {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 32px;
          .nickname {
            position: relative;
            &__input {
              @include container-style;
              width: 380px;
              height: 74px;
              padding-left: 28px;
              &:focus {
                outline: none;
              }
            }
            &__validation {
              position: absolute;
              bottom: -32px;
              right: 0;
              font-size: 16px;
              &--pass {
                color: #4d8aff;
              }
              &--alert {
                color: #ff5b5b;
              }
            }
          }
          .nickname__button {
            @include container-style;
            cursor: pointer;
            width: 142px;
            height: 74px;
          }
        }

        .words__input {
          @include container-style;
          font-family: "pretendard";
          height: 156px;
          padding: 22px 28px;
          &:focus {
            outline: none;
          }
        }
      }
    }

    &__title {
      text-align: left;
      margin-bottom: 14px;
    }
  }
}
