@import "@/styles/colors.scss";

.stepOne__block {
  text-align: center;

  &--title {
    color: $login-text;
  }
  &--text {
    line-height: 34px;
    margin-top: 25px;
    color: $login-text;
  }
}
