@import "@/styles/colors.scss";

.post-vote {
  display: flex;
  flex-direction: column;
  input {
    border: none;
    background-color: transparent;
    color: $dark-text2;
    &:focus {
      outline: none;
    }
  }
  &__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 36px;
  }
  &__block {
    margin-bottom: 16px;
  }
  &__content {
    display: flex;
    background-color: $surface;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    height: 52px;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark-text2;
      width: 32px;
      background-color: $dark-bg;
    }
    &__input {
      font-size: 14px;
      width: 100%;
      padding: 0 20px;
    }
    &:first-child {
      margin-bottom: 12px;
    }
  }
}
