@import "@/styles/colors.scss";

.post-shout {
  display: flex;
  flex-direction: column;
  gap: 14px;
  &__input {
    text-align: center;
    width: 100%;
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: $dark-text2;
    margin-bottom: 12px;
    &:focus {
      outline: none;
    }
  }
}
