@import "@/styles/colors.scss";

.token__block {
  width: 110px;
  height: 32px;
  border-radius: 8px;
  border: $token-border solid 2px;
  color: $like-obj;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 6px;
}
