@import "@/styles/colors.scss";

.chat-header {
  z-index: 999;
  background-color: $dark-bg;
  display: flex;
  position: fixed;
  top: 90px;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
  padding: 0 86px;
  color: $dark-text1;
  font-family: "pretendard";
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button:hover {
    cursor: pointer;
  }
  &__score {
    font-weight: 700;
    font-size: 48px;
    color: $dark-text2;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 6px;
    width: 720px;
    .teams {
      width: 100%;
      display: flex;
      justify-content: space-between;
      display: flex;
      &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .date {
          position: absolute;
          top: 21px;
          font-size: 18px;
        }
        .vs {
          font-weight: 700;
          font-size: 36px;
        }
      }
      &__name {
        font-weight: 700;
        font-size: 36px;
        color: $dark-text2;
        display: flex;
        gap: 28px;
        align-items: center;
        img {
          width: fit-content;
        }
      }
    }
  }
}
