@import "@/styles/colors.scss";
.present {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-text1;
}
.present-filter {
  width: 100%;
  font-size: 22px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  justify-content: end;
  &__icon {
    transition: 0.6s ease-in-out;
    &:hover {
      transform: rotate(540deg) translateY(4px);
    }
  }
}
.present-record {
  font-size: 22px;
  width: 100%;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $surface;
    border-bottom: 2px solid $dark-bg;
    height: 54px;
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    text-align: center;
    background-color: #2f3339;
    &--deco {
      background-color: #2a2d32;
    }
  }
  .contentbox {
    flex: 1;
  }
}
.pagination {
  margin-top: 84px;
  &__content {
    cursor: pointer;
    background: none;
    color: $dark-text1;
    border: none;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    &--active {
      color: $dark-text2;
      background: #4a2fa5;
    }
  }
}
