@import "@/styles/colors.scss";

.reply-block {
  width: 100%;
  max-width: 1200px;
  &__content {
    width: inherit;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input-area {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  textarea {
    width: inherit;
    height: 36px;
    border-radius: 8px;
    background: $like-bg;
    color: #fff;
    border: none;
    outline: none;
    word-break: break-all;
    resize: none;
    font-size: 16px;
    padding: 16px;
  }
}
