@import "@/styles/colors.scss";

.comment-block {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 16px;
  &__refresh {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    svg {
      color: #fff;
    }
    &:focus {
      outline: none;
      border: none;
    }
    &:hover {
      background: #fff;
      svg {
        color: #000;
        animation: rotate 1s infinite;
        @keyframes rotate {
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    &:active {
      background: #333;
    }
    svg {
      font-size: 24px;
    }
  }
}

.comment-input-area {
  display: flex;
  gap: 16px;
}

.comment-input {
  height: 36px;
  background: $like-bg;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  word-break: break-all;
  resize: none;
  flex: 1;
  line-height: 1.5;
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.value-length {
  align-self: flex-end;
  margin-right: 100px;
}
