@import "@/styles/colors.scss";

.reply-list-block {
  width: 100%;
  padding-left: 60px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hide {
  margin-top: 24px;
  width: 100%;
  padding-left: 60px;
  span {
    cursor: pointer;
    color: $dark-text1;
  }
}
