@import "@/styles/colors.scss";

.header {
  width: 100%;
  height: 90px;
  background: $header;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1.6px solid $dark-bg;

  &__block {
    width: 1200px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .navigation {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 160px;
      height: 100%;
    }

    &__item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      .pagelink {
        color: $dark-text1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        &--active {
          color: $dark-text2;
          font-weight: 600;
        }
      }
      .underbar {
        position: absolute;
        bottom: 0;
        visibility: hidden;
        width: 50px;
        height: 8px;
        background: $main;
        border-radius: 4px 4px 0 0;
        &--active {
          visibility: visible;
        }
      }
    }
  }
}

.profile {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 24px;
  &__logo {
    position: relative;
    overflow: hidden;
    width: 38px;
    height: 38px;
    background: $signup-back;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
    &__basictitle {
      height: 10px;
      text-align: center;
      opacity: 0.4;
    }
  }
  &__myname {
    color: $dark-text2;
  }
  &__login {
    transition: color 0.2s ease-in-out;
    color: $dark-text1;
    &:hover {
      color: $dark-text2;
    }
  }
}

.space {
  margin-bottom: 140px;
}
