@import "@/styles/colors.scss";
@import "@/styles/animation.scss";

.submenu {
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  &__block {
    left: 0;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__list {
    width: 100%;
    display: flex;
    transition: 0.2s;
  }

  &__item {
    text-align: center;
    cursor: pointer;
    flex: 1 1 0;
    a {
      color: $dark-text1;
    }
    .active {
      font-weight: 600;
      border-bottom: 4px solid #fff;
      padding-bottom: 6px;
      color: #fff;
    }
  }
  &__bg {
    position: fixed;
    left: 0;
    top: 90px;
    background-color: $dark-bg;
    width: 100vw;
    height: 50px;
    opacity: 0;
    transition: 0.2s;
    &--active {
      opacity: 1;
    }
  }
}
.scrolldown {
  opacity: 1;
  transform: translateY(0);
  animation: drop-down 0.2s;
}
.scrollup {
  transition: 0.2s;
  opacity: 0;
  transform: translateY(-50px);
  animation: drop-up 0.2s;
}
